<div class="app-body change-password-wrapper">
  <div class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-footer p-4" style="background-color: #343a40">
              <div class="row">
                <div class="col-12 text-center" style="font-size: 27px;">
                  <span class="text-success font-weight-bold">Simple</span><span class="font-weight-bold text-white">TEST</span>
                </div>
              </div>
            </div>
            <div class="card-body p-4">
              <form [formGroup]="changePasswordForm" (ngSubmit)="change()">
                <h1 class="text-center">Change password</h1>
                <p class="text-muted text-center">Change password for your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  </div>
                  <input minlength="8" type="password" class="form-control" placeholder="Old password"
                    formControlName="oldPassword">
                </div>
                <div *ngIf="oldPassword.errors && (oldPassword.touched || oldPassword.dirty)" class="alert alert-danger">
                  <span class="help-block" *ngIf="oldPassword.errors.required">
                    Old password is required!
                  </span>
                  <span class="help-block" *ngIf="oldPassword.errors.minlength">
                    Password needs to be over 8 characters long!
                  </span>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="New password" formControlName="newPassword"
                    autocomplete="new-password" required>

                </div>
                <div *ngIf="newPassword.errors && (newPassword.touched || newPassword.dirty)" class="alert alert-danger">
                  <span class="help-block" *ngIf="newPassword.errors.required">
                    New password is required!
                  </span>
                  <span class="help-block" *ngIf="newPassword.errors.minlength">
                    Password needs to be over 8 characters long!
                  </span>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Confirm new password" formControlName="reTypePassword"
                    autocomplete="new-password" required>

                </div>
                <div *ngIf="reTypePassword.errors && (reTypePassword.touched || reTypePassword.dirty)" class="alert alert-danger">
                  <span class="help-block" *ngIf="reTypePassword.errors.required">
                    Confirm password is required!
                  </span>
                  <span class="help-block" *ngIf="reTypePassword.errors.minlength">
                    Password needs to be over 8 characters long!
                  </span>
                  <span class="help-block" *ngIf="reTypePassword.errors.mustMatch">
                    New password and confirm password must match!
                  </span>
                </div>
                <button [disabled]="!changePasswordForm.valid" type="submit" class="btn btn-block btn-success">Change
                  password</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
