<div *ngIf="test!=null">
    <div class="container mb-3 display-7">
        <h1 class="display-3">Test: {{ test.testTemplate.testTemplateName }}</h1>
        <b>Candidate</b> : {{ test.candidate.user.firstName + " " + test.candidate.user.lastName}} 
        <button class="btn btn-success btn-sm " (click)="candidate(test.candidate.id)" >Candidate</button>
    </div>

    <div class="row">
      <div class="col-2">
        <ul class="list-group cursor-pointer">
          <li *ngFor="let f of answerForm.controls; let i = index"
            class="list-group-item d-flex justify-content-between align-items-center question-tab"
            [class.active]="selectedQuestionIndex===i"
            (click)="setSelectedQuestionIndex(i)" >
            {{ i+1 }}
            <span class="badge badge-danger badge-pill" ngbTooltip="Marked for check" placement="top"
            *ngIf="answers[i].question.isMarkedForCheck">!</span>
          </li>
        </ul>
      </div>

      <div class="card col-10" style="padding: 10px;">
        <div class="row">
          <div class="col-1">
            <ul class="list-group cursor-pointer">
              <li (click)="previousQuestion()" placement="right" ngbTooltip="Navigate to previous question" class="list-group-item d-flex justify-content-between align-items-center">
                <i class="fa fa-arrow-up action-icon text-primary"></i>
              </li>
              <li (click)="nextQuestion()" placement="right" ngbTooltip="Navigate to next question" class="list-group-item d-flex justify-content-between align-items-center">
                <i class="fa fa-arrow-down action-icon text-primary"></i>
              </li>
              <li (click)="markForCheck()" placement="right" ngbTooltip="Mark this question for check" class="list-group-item d-flex justify-content-between align-items-center">
                <i class="fa fa-exclamation exclamation-icon text-danger"></i>
              </li>
            </ul>
          </div>
          <div class="col-11" [formGroup]="answerForm">
            <div *ngFor="let f of answerForm.controls; let i = index" [attr.data-index]="i">
              <div *ngIf="selectedQuestionIndex === i" class="mt-1">
                <div class="question-text row container">
                  <div class="col-md-10" [innerHtml]="  test.answers[i].question.questionText  "><b>{{ i+1 }}</b> </div>
                  <input type="number" class="form-group d-inline col-md-2 justify-content-end" 
                    placeholder="0.0 - 1.0"[formControl]="answerForm.controls[i]" 
                    id="exampleFormControlTextarea1" min="0" max="1" step="0.1">
                </div>
                <div class="container">
                  {{ test.answers[i].answerText }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container row justify-content-end mt-2">
      <button class="btn btn-success btn-lg" (click)="onSubmit()">Grade</button>
    </div>
</div>