<div class="modal-header">
    <h4 class="modal-title">Add new interviewer</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="interviewerForm" (ngSubmit)="onSubmit()">
        <input required type="text" placeholder="Email" class="form-control" formControlName="email"><br>
        <span *ngIf="email.errors && (email.touched || email.dirty)">

            <span class="help-block" *ngIf="email.errors.required">
                Email is required!
            </span>
            <span class="help-block" *ngIf="email.errors.email">
                Email needs to be legit!
            </span>
        </span>
        <input required type="text" placeholder="First name" class="form-control" formControlName="firstName">
        <span *ngIf="firstName.errors && (firstName.touched || firstName.dirty)">
            <span class="help-block" *ngIf="firstName.errors.required">
                You need to enter first name!
            </span>
        </span><br>
        <input required type="text" placeHolder="Last name" class="form-control" formControlName="lastName">
        <span *ngIf="lastName.errors && (lastName.touched || lastName.dirty)">
            <span class="help-block" *ngIf="lastName.errors.required">
                You need to enter last name!
            </span>
        </span>
        <div class="modal-footer">
            <button [disabled]="!interviewerForm.valid" type="submit" class="btn btn-primary">Invite</button>
            <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
        </div>
    </form>
</div>